<div class="wrap">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
               class="navbar-brand">{{ brand }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                       class="nav-item nav-link">Home</a>
                    <a *ngIf="!isLogin" routerLink="signup" routerLinkActive="active"
                       class="nav-item nav-link">Signup</a>
                    <a *ngIf="!isLogin" routerLink="login" routerLinkActive="active"
                       class="nav-item nav-link">Login</a>
                    <a *ngIf="isLogin" routerLink="logout" routerLinkActive="active"
                       class="nav-item nav-link">Logout ({{ username }})</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <p *ngFor="let alert of alertService.getAlerts()">
            <ngb-alert [type]="alert.type" (close)="alertService.closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </p>
        <router-outlet></router-outlet>
    </div>
</div>