<breadcrumb [links]="breadcrumbLinks"></breadcrumb>

<h1>Reset password</h1>

<div class="row">
  <div class="col-lg-5">
    <form [formGroup]="passwordForm" novalidate (ngSubmit)="onSubmit(passwordForm)">
      <div class="form-group">
        <label for="password">Email</label>
        <input
                [ngClass]="{'is-invalid': passwordForm.controls.password.invalid}"
                type="password" name="password" formControlName=password class="form-control"
                id="password" placeholder="Enter password">
        <div class="invalid-feedback" *ngIf="passwordForm.controls.password.hasError('backend')">
          Please provide a valid one = {{ passwordForm.controls.password.getError('backend') }}
        </div>
      </div>
      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>