<breadcrumb [links]="breadcrumbLinks"></breadcrumb>

<h1>Signup</h1>

<div class="row">
  <div class="col-lg-5">
    <form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit(signupForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
                [ngClass]="{'is-invalid': signupForm.controls.username.invalid}"
                type="text" name="username" formControlName=username class="form-control"
                id="username" placeholder="Enter username">
        <div class="invalid-feedback" *ngIf="signupForm.controls.username.hasError('backend')">
          Please provide a valid one = {{ signupForm.controls.username.getError('backend') }}
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
                [ngClass]="{'is-invalid': signupForm.controls.email.invalid}"
                type="email" name="email" formControlName=email class="form-control"
                id="email" placeholder="Enter email">
        <div class="invalid-feedback" *ngIf="signupForm.controls.email.hasError('backend')">
          Please provide a valid one = {{ signupForm.controls.email.getError('backend') }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
                [ngClass]="{'is-invalid': signupForm.controls.password.invalid}"
                type="password" name="password" formControlName=password class="form-control"
                id="password" placeholder="Password">
        <div class="invalid-feedback" *ngIf="signupForm.controls.password.hasError('backend')">
          Please provide a valid one = {{ signupForm.controls.password.getError('backend') }}
        </div>
      </div>
      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>