<breadcrumb [links]="breadcrumbLinks"></breadcrumb>

<h1>Request password reset</h1>

<div class="row">
  <div class="col-lg-5">
    <form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit(resetForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
                [ngClass]="{'is-invalid': resetForm.controls.email.invalid}"
                type="email" name="email" formControlName=email class="form-control"
                id="email" placeholder="Enter email">
        <div class="invalid-feedback" *ngIf="resetForm.controls.email.hasError('backend')">
          Please provide a valid one = {{ resetForm.controls.email.getError('backend') }}
        </div>
      </div>
      <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>